<h1>Submit News</h1>

<%= render 'form' %>

<p>
Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the comments page. If there is a url, the text will be ignored.
</p>

<!-- <%= link_to 'Back', news_index_path %> -->
